<h1><%= @project.name %></h1>
<%= @project.description %>
<%= link_to "Back", root_path %>

<hr>
  <h2>New Task</h2>
  <%= render 'tasks/form' %>
<hr>

<h1>Tasks</h1>

<% @project.tasks.each do |task| %>
  <% if task.persisted? %>
    <div>
      <%= task.name %>
      <span>
        <%= link_to project_task_path(task) do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_project_task_path(task.project) do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </span>
      <%= task.description %>
      <%= task.status %>
    </div>
  <% end %>
<% end %>
